@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container_register{
       text-align: center;
       position: absolute;
       padding: 2em 3em;
       overflow: auto;
       display: grid;
       width: 100%;
       grid-template-columns: 1fr 1fr;
       grid-column-gap: 10px;
       height: 100%;
       align-self: center;
       justify-content: center;

     
}



.container_title_register_word1 {
       margin-top:30px;
       margin-bottom: 30px;
       text-align: center;  
      }
@keyframes anim3{
       0% {color: rgb(255,255,0);}
       25%{color: rgb(137, 137, 0)}
       100%{color:rgb(255, 255, 0);}
   }

.title_register_word1 {
       animation-name: anim3;
       animation-duration: 3s;
       animation-iteration-count: infinite;
       font-family: 'Press Start 2P';
        display: inline;
        -webkit-text-stroke: 2px black;
        font-size: 50px;
        letter-spacing: 2px;
}

.form_register{
       justify-content: center;
       align-self: center;
}
.form_register__label
{
       color:white;
       font-weight: 900;
}
.form_register__label_2
{
       color:white;
       font-weight: 900;
       margin-top: 30%;
}


.form_register__container{
       margin-top: 5px;
       margin-bottom: 5px;
}
.form_register__container-icon{
       position: absolute;
       transform: translate(50%,65%);
     }
.form_register__container-input {
       padding-left: 30px;
       width:80%;
       box-sizing: border-box;
       border-radius: 10px;
       height: 40px;
       outline:none;
       
              }
.form_register__a-register{
       position: relative;
       background : none;
       width: 25%;
       height: 55px;
       border-radius: 10px;
       margin: auto;
       margin-top: 15px;
       margin-bottom: 5px;
       border: none;
   }

   

.form_register__a-register::before{
       content: "";
       position: absolute;
       width: 100%;
       height: 100%;
       background: linear-gradient(45deg, #ff0, #000, #ff0, #000, #ff0, #000, #ff0, #000, #ff0, #000);
       background-size: 400%;
       transition: 0.5s;
       animation: animate 20s linear infinite;
       left: 0;
       top: 0;
       border-radius: 10px;

}
.form_register__a-register2{
       position: absolute;
       background: #0c0c0c;
       font-size: 25px;
       font-weight: 900;
       top: 5px;
       right: 5px;
       left: 5px;
       bottom: 5px;
       color: white;
       text-align: center;
       cursor: pointer;
       border-radius: 5px;


}
.form_register__a-register:focus{
       outline: none;

}



.position_question_register{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-self: center;   
}



.question_register_1{
       color:white;
       margin-right: 5px;
       font-size: 20px;
}
.question_register_2{
        font-size: 20px;
       color:white;    
}

.question_register_2:hover{
       text-decoration: none;
       font-weight: 900;
}
.question_register_container{
       display: flex;
       justify-content: center;
}
.l_sex{
       color:white;
}
.container_sex{
       display: flex;
       justify-content: center;
}
.label1_1{
       display: flex;
       align-items: center;
       color: white;
}
.l_men{
       color:cyan;
       font-weight: 900;;
}
.l_woman{
       color:pink;
       font-weight: 900;
}

@media only screen and (max-width: 1050px ){

      
   
    
    
.container_title_register_word1 {
              margin-top:5px;
              margin-bottom: 5px;
             
}

.title_register_word1 {   
font-size: 25px;
margin-left: 0;
}


.form_register__label
{
       font-size: 10px;
       
}
.form_register__label_2
{
       font-size: 10px;
       margin-top: 17%;

}
    .form_register__container-input {
       padding-left: 30px;
       height: 40px;
       width:80%;
    }

     .form_register__a-register{
       margin-top: 10px;
       width: 45%;
}
.form_register__container-icon{
       transform: scale(0.8);
       margin-left: 10px;
       margin-top: 2%;
      
     }

}


@media only screen and (max-width: 655px ){
              
              .container_title_register_word1 {
                            text-align: center;
                      
              }
              .form_register{
                     margin-top: -30px;
              }

          
                  .form_register__container-input {
                     padding-left: 20px;
                     height: 25px;
                  }
               
                  .question_register_1{
                     font-size: 10px;
              }
              .question_register_2{
                     font-size: 10px;
              }
              .l_men{
                     font-size: 8px;
              }
              .l_woman{
                     font-size: 8px;
              }
              .form_register__container-icon{
                     transform: scale(0.8);
                     margin-left: 10px;
                     margin-top: 1.5%;
                    
                   }
                   .form_register__a-register{
                     width: 35%;
                     height: 35px;
              }
              .form_register__a-register2{
                     font-size: 15px;
              }
              
              }


@media only screen and (max-width: 540px ){

       .container_register{
              grid-template-columns: 1fr;
              justify-content: center;
              
              
       } 
       .container_title_register_word1 {
              margin-top: 0px;
              margin-bottom: 200px;    
       }
       .form_register__container-icon{
              margin-top: 2%;
             
            }
            .form_register__container-input {
    
              width:85%;
           }
       

              .form_register__a-register{
              width: 40%;
              height: 35px;
              margin-top: 15px;
              margin-bottom: 15px;
       }
   
       .form_register__label_2
       {
              font-size: 10px;
              margin-top: 1%;
       }
       }
 @media only screen and (max-width: 320px ){
             
              
       .title_register_word1 {   
           font-size: 18px;
       }
       .form_register__container-icon{
              margin-top: 3%;
             
            }
       .form_register__a-register{
              width: 55%;
              height: 35px;
              margin-top: 15px;
              margin-bottom: 15px;
       }
   
       .form_register__label_2
       {
              font-size: 10px;
              margin-top: 1%;
       
       }

       }
       