@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container_register{
       text-align: center;
       position: absolute;
       padding: 2em 3em;
       overflow: auto;
       display: grid;
       width: 100%;
       grid-template-columns: 1fr 1fr;
       grid-column-gap: 10px;
       height: 100%;
       align-self: center;
       justify-content: center;

     
}
#tsparticles_register {
       position: absolute;
       width: 100%;
       height: 100%;
       background-image: url(https://allegra.flowersetcfresno.com/pic/1015789_full-fondo-de-pantalla-negro-3840x2160-3840x2160-black-and-blue-abstract-4k-wallpaper-free-4k-wallpaper.jpg);
       background-size:100vw 100vh;
  
       
   }

.container_title_register_word1 {
       margin-top:30px;
       margin-bottom: 30px;
       text-align: center;  
      }
@keyframes anim3{
       0% {color: yellow;}
       15%{color:black}
       25%{color: blue}
       35%{color: white;}
       50%{color:red}
       75%{color:cyan}
       100%{color:lawngreen}
   }

.title_register_word1 {
       animation-name: anim3;
       animation-duration: 1s;
       animation-iteration-count: infinite;
       font-family: 'Press Start 2P';
        display: inline;
        -webkit-text-stroke: 2px black;
        font-size: 50px;
        letter-spacing: 2px;
}

.form_register{
       justify-content: center;
       align-self: center;
}
.form_register__label
{
       color:white;
       font-weight: 900;
}


.form_register__container{
       margin-top: 5px;
       margin-bottom: 10px;
       margin-bottom: 0px;
       
}
.form_register__container-icon{
       position: absolute;
       transform: translate(50%,65%);
     }
.form_register__container-input {
       padding-left: 30px;
       width:75%;
       box-sizing: border-box;
       border-radius: 10px;
       height: 40px;
       outline:none;
              }


.form_register__a-register{
       background: linear-gradient(45deg, #CE0303 100%, #01FF94 0%);
       box-shadow: 0 0px 5px 3px rgba(255, 105, 135, .3);
       border-radius: 10px;
       width: 30%;
       display: block;
       margin: auto;
       margin-bottom: 10px;
       margin-top: 20px;
       transition:transform 0.4s;
       -moz-transition:  -moz-transform 0.4s;
       -webkit-transition:  -webkit-transform 0.4s;
       -o-transition: -o-transform 0.4s;
       text-decoration: none;
       color:white;
       text-align: center;
       font-weight: 900;
       font-size: 30px;      
}

.form_register__a-register:hover{
       transform : scale(1.25);
       -moz-transform : scale(1.25);      /* Firefox */
       -webkit-transform : scale(1.25);   /* Chrome - Safari */
       -o-transform : scale(1.25);        /* Opera */
       background: linear-gradient(45deg, #00FF38 100%, #CE0303 0%);
       text-decoration: none;
       box-shadow: 0 3px 5px 2px white;
}

.position_question_register{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-self: center;   
}


.question_register_1{
       color:white;
       margin-right: 5px;
       font-size: 20px;
}
.question_register_2{
        font-size: 20px;
       color:white;    
}

.question_register_2:hover{
       text-decoration: none;
       font-weight: 900;
}
.question_register_container{
       display: flex;
       justify-content: center;
       margin-top: 15px;
}
.l_sex{
       color:white;
}
.container_sex{
       display: flex;
       justify-content: center;
}
.label1_1{
       display: flex;
       align-items: center;
       color: white;
}
.l_men{
       color:cyan;
       font-weight: 900;;
}
.l_woman{
       color:pink;
       font-weight: 900;
}

@media only screen and (max-width: 1050px ){

      
   
    
    
.container_title_register_word1 {
              margin-top:5px;
              margin-bottom: 5px;
             
}

.title_register_word1 {   
font-size: 25px;
margin-left: 0;
}


.form_register__label
{
       font-size: 10px;
}
    .form_register__container-input {
       padding-left: 30px;
       height: 40px;
       width:80%;
    }

     .form_register__a-register{
       font-size: 10px;
       margin-top: 10px;
       width: 25%;
}
.form_register__container-icon{
       transform: scale(0.5);
       margin-left: 8px;
       margin-top: 5px;
      
     }

}



@media only screen and (max-width: 655px ){
              
              .container_title_register_word1 {
                            text-align: center;
                      
              }
              .form_register{
                     margin-top: -30px;
              }


                  .form_register__container-input {
                     padding-left: 20px;
                     height: 25px;
                     width:55%;
                  }
               
                  .question_register_1{
                     font-size: 10px;
              }
              .question_register_2{
                     font-size: 10px;
              }
              .l_men{
                     font-size: 8px;
              }
              .l_woman{
                     font-size: 8px;
              }
              
              }


@media only screen and (max-width: 540px ){

       .container_register{
              grid-template-columns: 1fr;
              justify-content: center;
              
              
       } 
       .container_title_register_word1 {
              margin-top: 0px;
              margin-bottom: 200px;    
       }
       .form_register__a-register{
              width: 40%;
       }
       }
 @media only screen and (max-width: 320px ){
             
              
       .title_register_word1 {   
           font-size: 18px;
       }
     
      
       

       }
       