
.img_uno_woman{
    width: 250px;
    height: 250px;
    border: 5px solid #FF00D6;
    margin: auto;
    display: flex;

}

.uno_3_woman{
    background: rgba(205, 53, 229, 0.28);
    outline: 2px solid #70FF00;
    margin: auto;
    display: block;
    width: 1fr;
    text-align: center;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 5px 5px;
    font-weight: 900;
}

.uno_3_woman:hover{
    text-decoration: none;
}

.doss_woman{
    border: 1px solid greenyellow;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(219, 0, 255, 0.31);
    
}
.doss1_woman{
    background: rgba(219, 0, 255, 0.31);
    outline: 1px solid #70FF00;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;

}

.doss2_woman{
    background: rgba(219, 0, 255, 0.31);
    outline: 1px solid #70FF00;
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white

}
@media screen and (max-width:830px){

   
    .img_uno_woman{
        width: 100px;
        height: 100px;
    }
    .uno_3_woman{
        margin-top: -15px;
    }

    .doss_woman{
        height: 30px;
    }
    .doss1_woman{
        height: 30px;
    }
    .doss2_woman{
        height: 30px;
    }
    
}

@media screen and (max-width:500px){
  
    .img_uno_woman{
        width: 80px;
    }
}