@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container_rank{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    border-right: 10px solid white;
}
.container_rank_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img_rank{
    width: 50%;
    height: 50%;
}
.rating_rank{
    border: 2px solid yellow;
    width: 50%;
    height: 5%;
    margin-top: 2%;
    border-radius: 20px;
}
.puntaje_rank{
    display: flex;
    color: white;

}
.title_rank{
    color: white;
    -webkit-text-stroke: 1px cyan;
    font-size: 50px;
}
.puntaje_rank_1{
    margin-top: 5%;
    font-family: 'Press Start 2P';
}
.title_container_rank{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.title_container_rank_1{
    color: white;
    font-size: 90px;
    -webkit-text-stroke: 2px #ff0000;
}
.bar_progress{
    width: 55%;
    margin-top: 2%;
    border: 2px solid #FFF500;
    border-radius: 20px;
    height: 5%;
    
}
@media screen and (max-width:850px){


    .title_rank{
        font-size: 30px;
    }
    .puntaje_rank_1{
        font-size: 20px;
 }

    .title_container_rank_1{
        color: white;
        font-size: 40px;
        -webkit-text-stroke: 1px #ff0000;
    }
}

@media screen and (max-width:500px){
    .container_rank{
        border-right:none;
        border-bottom: 5px solid white;
    }
}