@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.container_recovery {
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 50%;
    width: auto;
    transform: translate(50%, -50%);
    max-width: 90%;
    padding: 2em 3em;
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://allegra.flowersetcfresno.com/pic/1015789_full-fondo-de-pantalla-negro-3840x2160-3840x2160-black-and-blue-abstract-4k-wallpaper-free-4k-wallpaper.jpg);
    background-size: 100vw 100vh;
}

@keyframes anim_recovery {
    0% {
        color: yellow;
    }
    15% {
        color: black
    }
    25% {
        color: blue
    }
    35% {
        color: white;
    }
    50% {
        color: red
    }
    75% {
        color: cyan
    }
    100% {
        color: lawngreen
    }
}

.container_title_recovery__word1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container_title_recovery__word2 {
    max-width: 400px;
    padding: 10px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.title_recovery__word1 {
    animation-name: anim_recovery;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-family: 'Press Start 2P';
    display: inline;
    -webkit-text-stroke: 2px black;
    font-size: 50px;
    text-shadow: 0px 0px 7px #fff;
}

.title_recovery__word2 {
    animation-name: anim_recovery;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-family: 'Press Start 2P';
    display: inline;
    -webkit-text-stroke: 2px black;
    font-size: 50px;
    text-shadow: 0px 0px 7px #fff;
}

.form_recovery__label {
    color: white;
    font-size: 25px;
}

.form_recovery__container {
    margin-top: 5px;
    margin-bottom: 10px;
}

.form_recovery__container-icon {
    position: absolute;
    transform: translate(30%, 70%);
    font-size: 25px;
}

.form_recovery__container-input {
    padding-left: 40px;
    width: 60%;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
    outline: none;
    margin-top: 10px;
}

.form_recovery__a-recovery {
    display: block;
    background: linear-gradient(45deg, #CE0303 100%, #01FF94 0%);
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    border-radius: 10px;
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    white-space: nowrap;
}

.form_recovery__a-recovery:hover {
    transform: scale(1.25);
    -moz-transform: scale(1.25);
    /* Firefox */
    -webkit-transform: scale(1.25);
    /* Chrome - Safari */
    -o-transform: scale(1.25);
    /* Opera */
    background: linear-gradient(45deg, #00FF38 100%, #CE0303 0%);
    box-shadow: 0 3px 5px 2px white;
    text-decoration: none;
}